
@{
    ViewBag.Title = "New";
}

<h2>新增客戶作業</h2>

<form method="post" action="~/List/Save">
    <div>
        姓名<br />
        <input type="text" name="txtName" />
    </div>
    <div>
        電話<br />
        <input type="text" name="txtPhone" />
    </div>
    <div>
        Email<br />
        <input type="text" name="txtEmail" />
    </div>
    <div>
        地址<br />
        <input type="text" name="txtaddress" />
    </div>
    <div>
        密碼<br />
        <input type="text" name="txtPassword" />
    </div>
    <div>
        <br />
        <input type="submit" name="送出並儲存" />
    </div>


</form>

