
@{
    ViewBag.Title = "demofrom";
}

<h2>demofrom</h2>
<form method="post">
    <input type="text" name="txtA" />X2+
    <input type="text" name="txtB" />X+
    <input type="text" name="txtC" />=0
    <br />
    <input type="submit" value="OK" /> X=@ViewBag.ANS

</form>
