@model prjMvcDemo.tProduct

@{
    ViewBag.Title = "加入購物車";
}

<h2>AddToCart</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <div class="form-group">
            <input type="hidden" name="txtId" value="@Model.fId" />
            <div class="col-md-10">
                <br />
                數量 
                <br/>
                @Html.TextBox("txtcount", "", new { @class = "text-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="確定" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
